body {
  background-color: #e5e5e5;
}

.topo {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  z-index: 5;
}

.topo img {
  margin-left: 21px;
  width: 75px;
  height: 53px;
}

.topo ion-icon {
  font-size: 44px;
  margin-right: 21px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  background-color: #ffffff;
  z-index: 5;
  display: flex;
  align-items: center;
  margin-top: 200px;
}

footer textarea {
  font-family: "Roboto", sans-serif;
  width: calc(100vw - 80px);
  height: 40px;
  border: 0;
  margin-left: 17px;
  margin-top: 14px;
  font-size: 18px;
}

footer .mensagem::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  cursor: text;
  color: #000000;
}

footer textarea {
  resize: none;
  color: #000000;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  /* transform: translateY(8px); */
}

footer textarea:focus {
  outline: none;
}

footer ion-icon {
  font-size: 30px;
  position: absolute;
  top: 25px;
  right: 21px;
}

footer ion-icon:hover {
  cursor: pointer;
}

.conteudo li {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  display: flex;
  width: 100vw;
  height: auto;
  padding: 20px 8px;
  align-items: center;
  margin-bottom: 6px;
  line-height: 18px;

  word-break: break-word;
  scrollbar-width: 0;
}

.conteudo li div {
  width: 100vw;
}

.margem_ultima {
  margin-bottom: 100px;
}

.msg_status {
  background-color: #dcdcdc;
}

.msg_comum {
  background-color: #ffffff;
}

.msg_reservada {
  background-color: #ffdede;
}

.espaço {
  opacity: 0;
}

.usuario {
  font-weight: 500;
}

.horario {
  color: #aaaaaa;
}

/* body {
  background: rgba(0, 0, 0, 0.6);
}
.topo,
footer,
.conteudo {
  opacity: 0.5;
} */

.menu_envio {
  position: fixed;
  top: 0;
  right: 0;
  width: 259px;
  height: 1000px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.menu_envio ion-icon {
  font-size: 24px;
  margin-right: 6px;
}

.menu_envio h2,
.menu_envio p {
  font-weight: 700;
  text-align: center;
  margin: 28px 30px;
  line-height: 20px;
}

.menu_envio div {
  display: flex;
  align-items: end;
  margin-left: 24px;
  margin-bottom: 10px;
}

.tela_inicial {
  background-color: #ffffff;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.tela_inicial,
.tela1,
.tela2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tela_inicial img {
  width: 130px;
  height: 92px;
  margin: 50px 0;
}
.tela_inicial input {
  width: 261px;
  height: 54px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  font-size: 18px;
  text-align: center;
  margin: 15px 0;
}
.tela_inicial::placeholder {
  color: #aeaeae;
  font-weight: 400;
}

.tela_inicial button {
  width: 109px;
  height: 45px;
  border: 0;
  border-radius: 9px;
  background-color: #e7e7e7;
  font-family: 18px;
  color: #696969;
}

.conteudo li {
  position: relative;
  top: 100px;
  bottom: 1000px;
}

.completa_margem {
  width: 5vw;
  height: 100px;
  margin: 44px auto;
}

.tela_inicial .gif {
  width: 90px;
  height: 82px;
}

.tela_inicial p {
  font-size: 20px;
}

.escondido {
  display: none;
}
